.container{
    border: 9px solid red;
    height: 200px;
    width: 40vw;
    padding: 30px;
    /* padding-left: 10px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 50px; */

    /* padding: 30px 20px 50px 10px;

    padding: 10px 40px; */

    /* margin same as padding */
    
    /* margin-left: 20px;

    margin: auto; */

    margin-left: 30vw;

}

.container1{
    border: 9px dashed yellowgreen;
    height: 200px;
    width: 200px;

    margin-top: 100px;
    margin-left: 20px;
}